{% layout 'default.liquid' %}
{% block 'content' %}
<h1>Jogo #{{ game.id }}</h1>
<p>{{ game.createdAt }}</p>

<form id="new-buyin" action="/game/{{ game.id }}/buy-in" method="post" enctype="x-www-formurlencoded">
  <label for="playerId">Jogador</label>
  <select id="playerId" name="playerId" required>
    <option value="" selected disabled hidden>Selecione o Jogador</option>
    {% for player in players %}
      <option value="{{ player.id }}">{{ player.name }}</option>
    {% endfor %}
  </select>
  <label for="chips">Valor em Fichas</label>
  <input id="chips" type="number" name="chips" min="1" max="9999" value="550" required />
  <small>Valor em somado das fichas entregues. Ex.:  550</small>
  <button type="submit">
    Cadastrar BuyIn
  </button>
</form>

{% unless game.buyIns == empty %}
  <ul>
    {% for buyIn in game.buyIns %}
      <li>[{{ buyIn.createdAt }}] {{ buyIn.player.name }} - Chips: {{ buyIn.chips }}</li>
    {% endfor %}
  </ul>
{% else %}
  <p>Nenhum Buy In cadastrado</p>
{% endunless %}
{% endblock %}
